NODE_ENV=production

SERVICE_NAME=image-resize-s3
LOG_LEVEL=info
LOG_TYPE=pattern
LOG_PATTERN=[%d] [%p] - %m

PORT=3000
LISTEN=127.0.0.1
THREADS=1

S3_ENDPOINT_URL=https://storage.xxx.com
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=xxx
S3_FORCE_PATH_STYLE=YES
S3_BUCKET=image-resize-test

DEFAULT_CACHE="public, max-age=86400"
